.auth-box {
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.2);
}
.auth-box--wide {
  @extend .auth-box;
  max-width: 600px;
}

.auth-box__logo {
  margin: 10px 0 30px;
  padding: 0 10%;
  text-align: center;
}

.auth-box__title {
  margin-bottom: 20px;
  text-align: center;
}

.auth-box__text {
  line-height: 1.4;
}

.auth-box__list {
  margin-top: 20px;

  li {
    margin-bottom: 10px;
    line-height: 1.2;
  }
}

.auth-box__notice {
  margin: -10px 0 30px;
  padding: 10px;
  border: 1px solid $orange;

  h2 {
    margin-bottom: 12px;
    color: $orange;
    text-align: center;
  }

  p {
    @include font-size(0.9);
    line-height: 1.3;
  }
  h5 {
    margin-top: 12px;
    font-weight: $f_normal;
    text-align: center;
  }
}

.auth-box__form {

}

.auth-box__link {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.auth-box__bottom {
  @extend .auth-box;
  margin-top: 30px;
  padding: 14px;
  text-align: center;
}