.header {
  position: relative;
  padding: 20px 0;

  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    img {
      height: 40px;
    }
  }
}

.accountMenu {
  margin: 0;
  padding-left: 240px;
  list-style: none;
  text-align: right;
  li {
    display: inline-block;
    padding: 2px;
  }
}