.mainContent {
  width: 80%;
  max-width: 420px;
  margin: 40px auto;
  background-color: $white;
}

.authHeader {
  padding: 0 0 20px;
  text-align: center;
  img {
    max-width: 300px;
  }
}
.authForm {
  min-height: 280px;
  margin: 20px 0;
  .formGroup {
    margin: 0 0 20px;
    &.submit {
      margin-top: 40px;
    }
  }
  label {
    padding: 2px 0 4px;
    font-size: 0.875rem;
    color: $grey;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 6px;
    border: 1px solid $greyLight;
    color: $greyMedDark;
  }
  input[type="submit"] {
    margin: 0 auto;
    padding: 6px 36px;
    background-color: $orange;
    border: none;
    font-size: 1.25rem;
    color: $white;
    &:hover,
    &:focus {
      background-color: $orangeLight;
      border-radius: 6px;
    }
  }
}
.authFooter {
  margin: 20px 0 0;
  padding: 8px 0;
  border-top: 1px solid $greyLight;
  a {
    font-size: 0.75rem;
    text-decoration: none;
  }
  .last {
    text-align: right;
  }
}