.hasColumns {
  @extend %clearfix;
  // Without Padding
  .columns-2,
  .columns-3 {
    float: left;
  }
  .columns-2 {
    width: 50%;
  }
  .columns-3 {
    width: 33.2%;
  }
  // With Padding
  &.withPadding {
    padding-left: 2%;
    padding-right: 2%;
    .columns-2,
    .columns-3 {
      float: left;
      &.first {
        margin-right: 2%;
      }
      &.last {
        margin-left: 2%;
      }
    }
    .columns-2 {
      width: 48%;
    }
    .columns-3 {
      width: 32%;
    }
  }
}

