.item-index__toolbar {
	@include clearfix;
	width: 100%;
	margin-bottom: 20px;
}
.item-index__toolbar__button {
  @extend %button-reset;
	float: left;
  height: 30px;
  padding: ((30px - 16px) / 2) 20px;
  border: 1px solid $c_buttonBorder-secondary;
  @include link-colors($c_buttonLink-secondary, $c_buttonLink-hover);

  &:hover {
    background-color: $c_buttonBkgd-hover;
    border-color: $c_buttonBorder-hover;
  }
}
.pagination__wrapper--item-index {
	@extend .pagination__wrapper;
	float: right;
	margin: 0;
}

.item-index {
	width: 100%;
	border-spacing: 4px;
}

.item-index__row {
	&:hover {
		background-color: $greyLightest;
	}
}

.item-index__cell {
	padding: 8px;
	border: 1px solid $c_itemIndexCellBorder;
}
.item-index__cell--buttons {
	@extend .item-index__cell;
	width: 110px;

	a {
		display: inline-block;
		margin: 0 6px;
	}
}

.item-index__head-cell {
	padding: 8px;
	border: 1px solid $c_itemIndexCellBorder;
	border-top: none;
}

