.notebook-index {
  @include main-box;
  @include container;
  position: relative;
  min-height: 460px;
  padding: 20px 20px 20px 240px;

  .empty-message {
    margin-top: 40px;
  }
}

.notebook-index__explanation {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 0 20px 20px 0;
  border-right: 1px solid $c_notebookIndexBorder;

  img {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.3;
  }
  ul {
    margin-left: 1.5em;
  }
  li {
    line-height: 1.5;
  }
}

.notebook-index__list {
  margin: 0;
  padding: 30px 0 0 30px;
  list-style: none;
  text-align: center;
}

.notebook-index__item {
  position: relative;
  display: inline-block;
  width: 360px;
  margin: 0 30px 30px 0;
  padding: 4px 8px 4px 148px;
  background-color: $c_notebookIndexBgkd;
}




.notebook-index__name {
  min-height: 120px;
  padding: 10px;
  @include font-size(2);
  font-weight: $f_normal;
  line-height: 1.2;
  text-align: center;
}

.notebook-index__counts {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  width: 130px;
  margin: 0;
  padding: 8px;
  border-right: 1px solid $c_notebookIndexBorder;
  @include font-size(0.9);
  text-align: center;
  list-style: none;
}
.notebook-index__counts__item {
  line-height: 1.7;
  text-align: left;
  color: $c_notebookIndexCountText;

  span {
    float: right;
  }
}
.notebook-index__counts__item--novels {
  @extend .notebook-index__counts__item;
  margin-bottom: 12px;
}

.notebook-index__buttons {
  margin: 0;
  padding: 6px 0;
  border-top: 1px solid $c_notebookIndexBorder;
  text-align: center;
  list-style: none;
}
.notebook-index__buttons__item {
  display: inline-block;
  margin: 0 16px;
}