.novel-list {
}

.novel-list__title {
	padding-bottom: 10px;
	color: $c_notebookNovelListTitle;
	text-align: center;
}

.novel-list__list {
	margin: 0 0 20px;
	padding: 10px;
	border: 1px solid $c_notebookSidebarBorder;
	border-left: 0;
	border-right: 0;
	list-style: none;
}
.novel-list__item {
	margin-bottom: 4px;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 6px;
		text-decoration: none;
		@include link-colors($c_notebookMenuLink, $c_notebookMenuLink-hover, $c_notebookMenuLink-active);
	}
}

.novel-list__link {
  @extend %button-reset;
  height: 40px;
  padding: ((40px - 16px) / 2) 20px;
  border: 1px solid $c_buttonBorder-secondary;
  @include link-colors($c_buttonLink-secondary, $c_buttonLink-hover);

  &:hover {
    background-color: $c_buttonBkgd-hover;
    border-color: $c_buttonBorder-hover;
  }
}