/* 
 * App.css
 *
 * This CSS file has been created with SASS
 *
 * Don't edit it directly!!!
 */
/* 
 * Common Styles
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

label, input, select, textarea {
  font-size: 16px;
  font-size: 1rem;
  /* 16px */
}

input, select, textarea, label {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  display: inline;
  margin: 0 6px;
}

button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button:-moz-focus-inner {
  border: 0;
}

ul, ol {
  margin: 0 0 0 2em;
}

ul {
  list-style-type: square;
}

.hasColumns:before, .content:before, .head:before, .navMenu:before, .pageHeader:before, .indexItem.notebook:before, .indexItem.notebook .counts:before, .indexControls:before, .hasColumns:after, .content:after, .head:after, .navMenu:after, .pageHeader:after, .indexItem.notebook:after, .indexItem.notebook .counts:after, .indexControls:after {
  content: "";
  display: table;
}
.hasColumns:after, .content:after, .head:after, .navMenu:after, .pageHeader:after, .indexItem.notebook:after, .indexItem.notebook .counts:after, .indexControls:after {
  clear: both;
}
.hasColumns, .content, .head, .navMenu, .pageHeader, .indexItem.notebook, .indexItem.notebook .counts, .indexControls {
  zoom: 1;
}

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

.hasColumns .columns-2,
.hasColumns .columns-3 {
  float: left;
}
.hasColumns .columns-2 {
  width: 50%;
}
.hasColumns .columns-3 {
  width: 33.2%;
}
.hasColumns.withPadding {
  padding-left: 2%;
  padding-right: 2%;
}
.hasColumns.withPadding .columns-2,
.hasColumns.withPadding .columns-3 {
  float: left;
}
.hasColumns.withPadding .columns-2.first,
.hasColumns.withPadding .columns-3.first {
  margin-right: 2%;
}
.hasColumns.withPadding .columns-2.last,
.hasColumns.withPadding .columns-3.last {
  margin-left: 2%;
}
.hasColumns.withPadding .columns-2 {
  width: 48%;
}
.hasColumns.withPadding .columns-3 {
  width: 32%;
}

/* 
 * Base Styles
 */
/*!
 *
 * jQuery TE 1.4.0 , http://jqueryte.com/
 * Copyright (C) 2013, Fatih Koca (fattih@fattih.com), (http://jqueryte.com/about)

 * jQuery TE is provided under the MIT LICENSE.
 *
*/
/* editor's general field */
.jqte {
  margin: 30px 0;
  border: #000 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  overflow: hidden;
  transition: box-shadow 0.4s, border 0.4s;
  -webkit-transition: -webkit-box-shadow 0.4s, border 0.4s;
  -moz-transition: -moz-box-shadow 0.4s, border 0.4s;
  -o-transition: -o-box-shadow 0.4s, border 0.4s;
}

.jqte * {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.jqte_focused {
  border-color: #00AAE7;
  box-shadow: 0 0 10px #00BDFF;
  -webkit-box-shadow: 0 0 10px #00BDFF;
  -moz-box-shadow: 0 0 10px #00BDFF;
}

/* toolbar */
.jqte_toolbar {
  overflow: auto;
  padding: 3px 4px;
  background: #EEE;
  border-bottom: #BBB 1px solid;
}

.jqte_tool {
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.jqte_tool, .jqte_tool_icon, .jqte_tool_label {
  border: #EEE 1px solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.jqte_hiddenField {
  display: none;
}

.jqte_tool_icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(jquery-te.png) no-repeat;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
  position: relative;
  display: block;
  padding: 3px;
  width: 70px;
  height: 16px;
  overflow: hidden;
}

.jqte_tool.jqte_tool_1 .jqte_tool_text {
  font: bold 13px Arial,sans-serif;
  color: #222;
}

.jqte_tool.jqte_tool_1 .jqte_tool_icon {
  position: absolute;
  top: 10px;
  right: 2px;
  width: 6px;
  height: 4px;
  background-position: -19px -23px;
  border: none;
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
}

.jqte_tool.jqte_tool_2 .jqte_tool_icon {
  background-position: 0 0;
}

.jqte_tool.jqte_tool_3 .jqte_tool_icon {
  background-position: -22px 0;
}

.jqte_tool.jqte_tool_4 .jqte_tool_icon {
  background-position: -44px 0;
}

.jqte_tool.jqte_tool_5 .jqte_tool_icon {
  background-position: -66px 0;
}

.jqte_tool.jqte_tool_6 .jqte_tool_icon {
  background-position: -88px 0;
}

.jqte_tool.jqte_tool_7 .jqte_tool_icon {
  background-position: -110px 0;
}

.jqte_tool.jqte_tool_8 .jqte_tool_icon {
  background-position: -132px 0;
}

.jqte_tool.jqte_tool_9 .jqte_tool_icon {
  background-position: -154px 0;
}

.jqte_tool.jqte_tool_10 .jqte_tool_icon {
  background-position: -176px 0;
}

.jqte_tool.jqte_tool_11 .jqte_tool_icon {
  background-position: -198px 0;
}

.jqte_tool.jqte_tool_12 .jqte_tool_icon {
  background-position: -220px 0;
}

.jqte_tool.jqte_tool_13 .jqte_tool_icon {
  background-position: -242px 0;
}

.jqte_tool.jqte_tool_14 .jqte_tool_icon {
  background-position: -264px 0;
}

.jqte_tool.jqte_tool_15 .jqte_tool_icon {
  background-position: -286px 0;
}

.jqte_tool.jqte_tool_16 .jqte_tool_icon {
  background-position: -308px 0;
}

.jqte_tool.jqte_tool_17 .jqte_tool_icon {
  background-position: -330px 0;
}

.jqte_tool.jqte_tool_18 .jqte_tool_icon {
  background-position: -352px 0;
}

.jqte_tool.jqte_tool_19 .jqte_tool_icon {
  background-position: -374px 0;
}

.jqte_tool.jqte_tool_20 .jqte_tool_icon {
  background-position: -396px 0;
}

.jqte_tool.jqte_tool_21 .jqte_tool_icon {
  background-position: -418px 0;
}

.jqte_tool:hover {
  background-color: #FFF;
  border-color: white;
}

.jqte_tool:hover .jqte_tool_icon, .jqte_tool:hover .jqte_tool_label {
  border: #aaaaaa 1px solid;
}

.jqte_tool:active .jqte_tool_icon, .jqte_tool:active .jqte_tool_label {
  border: #777777 1px solid;
}

.jqte_tool.jqte_tool_1:hover .jqte_tool_icon, .jqte_tool.jqte_tool_1:active .jqte_tool_icon {
  border: none;
}

.jqte_tool_depressed {
  background-color: #DDD;
  border-color: #cccccc;
}

.jqte_tool_depressed .jqte_tool_icon {
  border-color: #aaaaaa;
}

.jqte_tool_depressed:hover {
  background-color: #eeeeee;
}

/* link form area */
.jqte_linkform {
  padding: 5px 10px;
  background: #DDD;
  border-bottom: #BBB 1px solid;
}

.jqte_linktypeselect {
  position: relative;
  float: left;
  width: 130px;
  background: #EEE;
  cursor: pointer;
}

.jqte_linktypeselect:Active {
  background: white;
}

.jqte_linktypeview {
  padding: 3px 5px;
  border: #333 1px solid;
  color: #777;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: none;
}

.jqte_linktypetext {
  font-size: 12px;
}

.jqte_linktypearrow {
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 7px;
  height: 6px;
  margin: 0 auto;
  background: url(jquery-te.png) -7px -23px no-repeat;
}

.jqte_linktypes {
  display: none;
  position: absolute;
  top: 22px;
  left: 1px;
  width: 125px;
  background: #FFF;
  border: #333 1px solid;
  box-shadow: 0 1px 4px #AAA;
  -webkit-box-shadow: 0 1px 4px #AAA;
  -moz-box-shadow: 0 1px 4px #aaaaaa;
}

.jqte_linktypes a {
  display: block;
  padding: 4px 5px;
  font-size: 12px;
}

.jqte_linktypes a:hover {
  background: #dddddd;
}

.jqte_linkinput {
  float: left;
  margin: 0 5px;
  padding: 3px 5px;
  width: 300px;
  background: #EEE;
  border: #333 1px solid;
  color: #777;
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: none;
}

.jqte_linkinput:focus, .jqte_linkinput:hover {
  background: #FFF;
  border-color: #000;
}

.jqte_linkbutton {
  float: left;
  padding: 3px 12px;
  background: #AAA;
  border: #333 1px solid;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: inset 0 1px #EEE;
  -webkit-box-shadow: inset 0 1px #EEE;
  -moz-box-shadow: inset 0 1px #EEE;
}

.jqte_linkbutton:hover {
  background: #a1a1a1;
}

.jqte_linkbutton:active {
  box-shadow: inset 0 1px #CCC;
  -webkit-box-shadow: inset 0 1px #CCC;
  -moz-box-shadow: inset 0 1px #CCC;
  background: #888;
}

/* text format menu */
.jqte_formats {
  display: none;
  position: absolute;
  width: 180px;
  oveflow-x: hidden;
  overflow-y: auto;
  background: #FFF;
  border: #AAA 1px solid;
  box-shadow: 0 0 5px #AAA;
  -webkit-box-shadow: 0 0 5px #AAA;
  -moz-box-shadow: 0 0 5px #AAA;
  z-index: 100;
}

.jqte_format {
  display: block;
  padding: 4px 7px;
  font-size: 13px;
}

.jqte_format:hover {
  background: #dddddd;
}

.jqte_format_1, .jqte_format_2, .jqte_format_3, .jqte_format_4, .jqte_format_5, .jqte_format_6 {
  font-weight: bold;
}

.jqte_format_1 {
  font-size: 22px;
}

.jqte_format_2 {
  font-size: 20px;
}

.jqte_format_3 {
  font-size: 18px;
}

.jqte_format_4 {
  font-size: 16px;
}

.jqte_format_5 {
  font-size: 14px;
}

.jqte_format_6 {
  font-size: 12px;
}

.jqte_format_7 {
  font-family: "Courier New", Courier, monospace;
}

/* font size menu */
.jqte_fontsizes {
  display: none;
  position: absolute;
  width: 180px;
  height: 198px;
  oveflow-x: hidden;
  overflow-y: auto;
  background: #FFF;
  border: #AAA 1px solid;
  box-shadow: 0 0 5px #AAA;
  -webkit-box-shadow: 0 0 5px #AAA;
  -moz-box-shadow: 0 0 5px #aaaaaa;
}

.jqte_fontsize {
  display: block;
  padding: 3px 7px;
}

.jqte_fontsize:hover {
  background: #dddddd;
}

/* color pallette */
.jqte_cpalette {
  display: none;
  position: absolute;
  padding: 6px;
  width: 144px;
  background: #FFF;
  border: #AAA 1px solid;
  box-shadow: 0 0 5px #AAA;
  -webkit-box-shadow: 0 0 5px #AAA;
  -moz-box-shadow: 0 0 5px #aaaaaa;
}

.jqte_color {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  border: #FFF 1px solid;
}

.jqte_color:hover {
  border-color: black;
}

.jqte_colorSeperator {
  float: none;
  clear: both;
  height: 7px;
}

/* editor area */
.jqte_editor, .jqte_source {
  padding: 10px;
  background: #FFF;
  min-height: 100px;
  max-height: 900px;
  overflow: auto;
  outline: none;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  resize: vertical;
}

.jqte_editor div, .jqte_editor p {
  margin: 0 0 7px;
}

.jqte_editor a:link, .jqte_editor a:link * {
  color: #0066FF !important;
  text-decoration: underline;
}

.jqte_editor blockquote {
  margin-top: 0;
  margin-bottom: 7px;
}

.jqte_editor img {
  float: left;
  margin: 0 10px 5px 0;
}

.jqte_editor a[jqte-setlink], .jqte_editor a[jqte-setlink] * {
  background: #3297FD !important;
  color: white !important;
}

.jqte_editor h1, .jqte_editor h2, .jqte_editor h3, .jqte_editor h4, .jqte_editor h5, .jqte_editor h6, .jqte_editor pre {
  display: block;
  margin: 0 0 3px;
}

.jqte_editor h1, .jqte_editor h1 * {
  font-size: 26px;
}

.jqte_editor h2, .jqte_editor h2 * {
  font-size: 24px;
}

.jqte_editor h3, .jqte_editor h3 * {
  font-size: 22px;
}

.jqte_editor h4, .jqte_editor h4 * {
  font-size: 20px;
}

.jqte_editor h5, .jqte_editor h5 * {
  font-size: 18px;
}

.jqte_editor h6, .jqte_editor h6 * {
  font-size: 15px;
}

.jqte_editor pre, .jqte_editor pre * {
  font-family: "Courier New", Courier, monospace;
}

/* source area */
.jqte_source, .jqte_source textarea {
  background: #fff1e8;
}

.jqte_source textarea {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  width: 100% !important;
  min-height: 100px;
  font-family: Courier, Arial, sans-serif !important;
  font-weight: normal;
  font-size: 15px;
  overflow: hidden !important;
  outline: none;
  resize: none;
}

.jqte_source textarea, .jqte_source textarea:focus {
  css_shadow: none !important;
  background: none !important;
  border: none !important;
}

/* title box */
.jqte_title {
  display: none;
  position: absolute;
  z-index: 9999;
}

.jqte_titleArrow {
  position: relative;
}

.jqte_titleArrowIcon {
  width: 7px;
  height: 6px;
  margin: 0 auto;
  background: url(jquery-te.png) 0 -23px no-repeat;
}

.jqte_titleText {
  padding: 5px 7px;
  margin-top: 0;
  min-width: 5px;
  min-height: 1px;
  max-width: 400px;
  background: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.jqte_titleText, .jqte_titleText * {
  color: #FFF;
  font-size: 11px;
}

/* placeholder */
.jqte_placeholder {
  position: relative;
  display: none;
}

.jqte_placeholder_text {
  position: absolute;
  top: 43px;
  left: 10px;
  font-size: 14px;
  color: #CCC;
}

.jqte_tool_icon,
.jqte_linktypearrow,
.jqte_titleArrowIcon {
  background-image: url(../img/vendor/jquery-te.png) !important;
}

/* 
 * Base Styles
 */
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

/**
 * Body
 * Containers
 * Structure
 */
/* ------------------- *\
  #Body
\* ------------------- */
html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 800px;
  background-color: #fafafa;
}

/* ------------------- *\
  #Containers
\* ------------------- */
.container {
  min-height: 100%;
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(237, 237, 237, 0.37);
}

.topLink {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 48px;
  background-color: #de510c;
  border: none;
  z-index: 9999;
}
.topLink:focus {
  outline: none;
}

/* ------------------- *\
  #Structure
\* ------------------- */
.SM.skinny {
  position: relative;
}
.SM.skinny .main {
  padding-left: 260px;
}
.SM.skinny .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
}

.SMS.skinny-tiny {
  position: relative;
}
.SMS.skinny-tiny .main {
  padding-left: 260px;
  padding-right: 140px;
}
.SMS.skinny-tiny .sidebar {
  position: absolute;
  top: 0;
}
.SMS.skinny-tiny .sidebar.left {
  left: 0;
  width: 220px;
}
.SMS.skinny-tiny .sidebar.right {
  right: 0;
  width: 100px;
}

/* 
 * Component Styles
 */
/**
 * Links
 *  - Text
 *  - Primary
 *  - Secondary
 * Buttons
 *  - Primary
 *  - Secondary
 *  - Submit
 *  - Call To Action
 */
/* ------------------- *\
  #Link
\* ------------------- */
.link {
  display: inline-block;
  padding-bottom: 2px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  /* Text */
  /* Primary */
  /* Secondary */
}
.link:focus {
  outline: none;
}
.link.text {
  color: #de510c;
  text-decoration: underline;
}
.link.text:hover, .link.text:focus {
  color: #f25b11;
  text-decoration: none;
}
.link.primary {
  color: #de510c;
  border-bottom: 1px solid transparent;
}
.link.primary:hover, .link.primary:focus {
  color: #f25b11;
  border-color: #f25b11;
}
.link.secondary {
  color: #cacaca;
  border-bottom: 1px solid #dddddd;
}
.link.secondary.active {
  color: #4d4d4d;
  border-color: #4d4d4d;
}
.link.secondary:hover, .link.secondary:focus {
  color: #de510c;
  border-color: #de510c;
}

/* ------------------- *\
  #Button
\* ------------------- */
.button.primary, .button.secondary {
  padding: 10px 22px;
}

.button.primary.small, .button.secondary.small {
  padding: 6px 14px;
  font-size: 0.875rem;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: border-radius 0.3s;
  /* Primary */
  /* Secondary */
  /* Submit */
  /* Call To Action */
}
.button:focus, .button:hover {
  outline: none;
  border-radius: 10px;
}
.button.primary {
  background-color: #de510c;
  border: 1px solid #de510c;
  color: white;
}
.button.primary:hover, .button.primary:focus {
  background-color: #f25b11;
  border-color: #f25b11;
}
.button.secondary {
  background-color: transparent;
  border: 1px solid #dddddd;
  color: #cacaca;
}
.button.secondary:hover, .button.secondary:focus {
  background-color: #dddddd;
  color: #909090;
}
.button.submit {
  padding: 10px 30px;
  background-color: #de510c;
  color: white;
}
.button.submit:hover, .button.submit:focus {
  background-color: #f25b11;
}
.button.cta {
  padding: 16px 48px;
  background-color: #de510c;
  font-size: 1.5rem;
  color: white;
}
.button.cta:hover, .button.cta:focus {
  background-color: #f25b11;
}

.pagination ul {
  margin: 0;
  list-style: none;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
  background-color: white;
  border: 1px solid #dddddd;
  color: #686868;
}
.pagination li.disabled {
  visibility: hidden;
}
.pagination li.active {
  background-color: #686868;
  color: white;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 4px 8px;
  color: inherit;
  text-decoration: none;
}
.pagination li a:hover {
  background-color: #dddddd;
}

/**
 * Form Elements
 * Labels
 * Inputs
 * Buttons
 * Errors
 * Text
 */
/* ------------------- *\
  #Form Elements
\* ------------------- */
form {
  max-width: 660px;
  margin: 0 auto;
}

.formGroup {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dddddd;
}

.formBlock {
  padding: 12px 16px;
}
.formBlock.submit {
  margin-top: 12px;
  padding: 12px 0 0;
  border-top: 1px solid #dddddd;
  text-align: right;
}

/* ------------------- *\
  #Labels
\* ------------------- */
label,
.radioLabel {
  width: 100%;
  padding-bottom: 6px;
  font-weight: 600;
  color: #686868;
}

.radioLabel {
  border-top: 1px solid #dddddd;
}

.formGroup.radio label {
  width: auto;
  margin: 0 6px;
  display: inline-block;
  color: #686868;
  text-align: left;
}

/* ------------------- *\
  #Inputs
\* ------------------- */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 96%;
  margin: 0 auto;
  padding: 6px 8px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #686868;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #909090;
  outline: none;
}

textarea {
  width: 96%;
  margin: 0 auto;
  height: 120px;
  padding: 6px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #686868;
}
textarea:focus {
  border-color: #909090;
  outline: none;
}
textarea.medium {
  height: 260px;
}
textarea.large {
  height: 500px;
}

/* ------------------- *\
  #Buttons
\* ------------------- */
.submit {
  margin-left: 10px;
}

/* ------------------- *\
  #Errors
\* ------------------- */
.errorMessage {
  display: block;
  margin-bottom: 4px;
  padding: 4px;
  background-color: #f2dede;
  font-size: 0.875rem;
  color: #a94442;
}

/* ------------------- *\
  #Text
\* ------------------- */
form .heading {
  padding: 14px 2% 8px;
  border-bottom: 1px solid #dddddd;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
}
form .description {
  padding: 14px 4%;
  border-bottom: 1px solid #dddddd;
  line-height: 1.4;
}
form .helpText {
  margin-top: 4px;
  padding-right: 2%;
  font-size: 0.75rem;
  color: #909090;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon p {
  display: none;
}
.icon.settings {
  background-image: url("../img/icons/settings.png");
}
.icon.settings:hover {
  background-image: url("../img/icons/settings-hover.png");
}
.icon.write {
  background-image: url("../img/icons/write.png");
}
.icon.write:hover {
  background-image: url("../img/icons/write-hover.png");
}
.icon.trash {
  background-image: url("../img/icons/trash.png");
}
.icon.trash:hover {
  background-image: url("../img/icons/trash-hover.png");
}
.icon.restore {
  background-image: url("../img/icons/restore.png");
}
.icon.restore:hover {
  background-image: url("../img/icons/restore-hover.png");
}
.icon.destroy {
  background-image: url("../img/icons/destroy.png");
}
.icon.destroy:hover {
  background-image: url("../img/icons/destroy-hover.png");
}

.message {
  position: relative;
  background-color: transparent;
}
.message p {
  padding: 11px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
.message .info,
.message .success,
.message .warning,
.message .danger {
  padding: 0 10px;
  border-left: 4px solid transparent;
}
.message .info {
  background-color: #d9edf7;
  border-color: #3183b9;
  color: #3183b9;
}
.message .success {
  background-color: #dff0d8;
  border-color: #3c763d;
  color: #3c763d;
}
.message .warning {
  background-color: #fcf8e3;
  border-color: #a66d3b;
  color: #a66d3b;
}
.message .danger {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a94442;
}

.messageButton {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -10px;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: inherit;
  line-height: 1;
}
.messageButton:focus {
  outline: none;
}

/* 
 * Element Styles
 */
.head {
  padding: 6px 0 30px;
}
.head .logo {
  float: left;
  margin-left: 6px;
}
.head .logo img {
  display: block;
  height: 28px;
}

.navMenu ul {
  float: left;
  margin: 0;
  padding: 0 6px;
  list-style: none;
}
.navMenu ul.account {
  border-right: 1px solid #dddddd;
}
.navMenu ul.logout {
  float: right;
}
.navMenu li {
  display: inline-block;
  margin: 0 6px;
}
.navMenu li a {
  display: block;
  padding: 6px 8px;
  font-size: 14px;
  color: #cacaca;
  text-decoration: none;
}
.navMenu li a:hover, .navMenu li a:focus {
  color: #de510c;
}
.navMenu li a.active {
  color: #4d4d4d;
}

.pageHeader {
  margin-bottom: 20px;
  padding: 10px 2%;
  border-bottom: 7px solid rgba(237, 237, 237, 0.37);
}
.pageHeader .pageTitle {
  float: left;
  padding: 5px 0;
}
.pageHeader .pageTitle span {
  font-size: 60%;
}
.pageHeader .pageButtons {
  float: right;
  margin: 0;
  list-style: none;
}
.pageHeader .pageButtons li {
  display: inline-block;
}

.adminBar {
  position: fixed;
  bottom: -27px;
  left: 0;
  right: 0;
  height: 34px;
  background-color: #de510c;
}
.adminBar:hover {
  bottom: 0;
}
.adminBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.adminBar .adminMenu {
  text-align: center;
}
.adminBar .adminMenu li {
  display: inline-block;
  padding: 0;
}
.adminBar .adminMenu li a {
  display: block;
  padding: 10px 10px;
  line-height: 1;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.adminBar .adminMenu li a:hover, .adminBar .adminMenu li a.active {
  color: white;
}

.filters ul {
  margin: 0;
  list-style: none;
}
.filters li {
  margin-bottom: 10px;
  padding: 2px;
  border-bottom: 1px solid #eeeeee;
  color: #dddddd;
}
.filters .link {
  padding: 4px;
  font-size: 0.875rem;
  border-bottom: none;
}

.toc {
  margin: 0;
  list-style: none;
}
.toc li {
  margin-bottom: 10px;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
}
.toc .link {
  padding: 4px;
  padding-left: 24px;
  font-size: 0.875rem;
  border-bottom: none;
}
.toc .link.title {
  padding-left: 8px;
  color: #909090;
}
.toc .link.title:hover {
  color: #de510c;
}

.indexItem.novel {
  position: relative;
  min-height: 300px;
  width: 220px;
  margin: 10px;
  background-color: #eeeeee;
}
.indexItem.novel .notebook {
  padding: 8px 4px;
  background-color: #cacaca;
  text-align: center;
}
.indexItem.novel .title {
  padding: 20px 10px;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}
.indexItem.novel .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px 0;
  border-top: 1px solid #dddddd;
  text-align: center;
}
.indexItem.novel .buttons .secondary {
  margin-bottom: 6px;
}
.indexItem.novel .buttons .secondary .button {
  width: 44%;
  margin: 0 1%;
}
.indexItem.novel .buttons .primary .button {
  width: 92%;
  margin: 0 1%;
}

.indexItem.notebook {
  position: relative;
  min-height: 180px;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 160px;
  background-color: #eeeeee;
}
.indexItem.notebook .name {
  padding: 6px 10px;
  background-color: #dddddd;
  font-size: 1.75rem;
  line-height: 1;
}
.indexItem.notebook .novels {
  float: left;
  min-height: 140px;
  width: 40%;
  margin: 0;
  padding: 8px 20px;
  border-right: 1px solid #dddddd;
  list-style: none;
}
.indexItem.notebook .novels li {
  padding: 4px;
  font-size: 1.125rem;
}
.indexItem.notebook .novels li.newNovel {
  font-size: 0.875rem;
  text-align: right;
}
.indexItem.notebook .novels li a {
  color: #686868;
  text-decoration: none;
}
.indexItem.notebook .description {
  float: right;
  width: 60%;
  padding: 16px;
}
.indexItem.notebook .counts {
  clear: both;
  margin: 20px 0 0;
  border-top: 1px solid #dddddd;
  list-style: none;
}
.indexItem.notebook .counts li {
  float: left;
  width: 25%;
  padding: 8px 0;
  border-right: 1px solid #dddddd;
  text-align: center;
}
.indexItem.notebook .counts li:last-child {
  border: none;
}
.indexItem.notebook .buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  padding: 20px 6px;
  border-left: 1px solid #dddddd;
  text-align: center;
}
.indexItem.notebook .buttons .secondary .button {
  width: 92%;
  margin: 0 1%;
  margin-bottom: 6px;
}
.indexItem.notebook .buttons .primary .button {
  width: 92%;
  margin: 0 1%;
}

.novelSection-wrapper {
  margin-bottom: 60px;
}

.novelSection {
  position: relative;
  padding: 10px 20px 0;
  border-bottom: 1px solid #dddddd;
}
.novelSection .title,
.novelSection .body {
  margin: 10px 0;
  padding: 0 6px;
  border-right: 1px solid #eeeeee;
}
.novelSection .title {
  margin: 10px 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: right;
}
.novelSection .body {
  line-height: 1.4;
}
.novelSection .body p {
  margin-bottom: 20px;
}
.novelSection .descriptionBox {
  border: 1px solid #eeeeee;
  border-bottom: none;
}
.novelSection .descriptionBox .link {
  width: 100%;
  padding: 4px 10px;
  border-bottom: none;
  color: #dddddd;
  text-align: right;
}
.novelSection .descriptionBox .link:focus {
  color: #dddddd;
}
.novelSection .descriptionBox .link:hover {
  color: #de510c;
}
.novelSection .description {
  min-height: 40px;
}

.addSection {
  position: absolute;
  bottom: -20px;
  left: 100%;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid #dddddd;
}

.index .entry .date {
  width: 70px;
  border-right: 1px solid #909090;
  text-align: center;
}
.index .entry .date .month,
.index .entry .date .day {
  width: 100%;
}
.index .entry .date .day {
  font-size: 2rem;
}
.index .entry .title {
  font-size: 1.5rem;
}
.index .entry .buttons {
  width: 180px;
  text-align: right;
}

/* 
 * View Styles
 */
.indexControls {
  margin: 6px 0;
  padding: 4px 5% 4px 0;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
}
.indexControls .pages {
  float: right;
}

.indexList {
  margin: 0;
  list-style: none;
}

.indexItem {
  display: inline-block;
}

.indexTable {
  width: 95%;
}
.indexTable tr:nth-child(odd) {
  background-color: #eeeeee;
}

.indexRow td {
  padding: 10px;
}

.index .emptyMessage {
  padding: 20px 0;
}
.index .emptyMessage .title {
  text-align: center;
}

/* 
 * Page Styles
 */
/* ------------------- *\
  #Profile
\* ------------------- */
.profile .content {
  width: 100%;
}
.profile section {
  margin-bottom: 30px;
}
.profile .mainColumn {
  float: left;
  width: 58%;
  margin-right: 2%;
}
.profile .mainColumn form .heading {
  text-align: left;
}
.profile .secondaryColumn {
  float: right;
  width: 36%;
  margin-left: 4%;
}
.profile .secondaryColumn form .heading {
  text-align: right;
}
