/* 
 * Auth.css
 *
 * This CSS file has been created with SASS
 *
 * Don't edit it directly!!!
 */
/* 
 * Common Styles
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

label, input, select, textarea {
  font-size: 16px;
  font-size: 1rem;
  /* 16px */
}

input, select, textarea, label {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  display: inline;
  margin: 0 6px;
}

button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button:-moz-focus-inner {
  border: 0;
}

ul, ol {
  margin: 0 0 0 2em;
}

ul {
  list-style-type: square;
}

.hasColumns:before, .foot:before, .hasColumns:after, .foot:after {
  content: "";
  display: table;
}
.hasColumns:after, .foot:after {
  clear: both;
}
.hasColumns, .foot {
  zoom: 1;
}

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

.hasColumns .columns-2,
.hasColumns .columns-3 {
  float: left;
}
.hasColumns .columns-2 {
  width: 50%;
}
.hasColumns .columns-3 {
  width: 33.2%;
}
.hasColumns.withPadding {
  padding-left: 2%;
  padding-right: 2%;
}
.hasColumns.withPadding .columns-2,
.hasColumns.withPadding .columns-3 {
  float: left;
}
.hasColumns.withPadding .columns-2.first,
.hasColumns.withPadding .columns-3.first {
  margin-right: 2%;
}
.hasColumns.withPadding .columns-2.last,
.hasColumns.withPadding .columns-3.last {
  margin-left: 2%;
}
.hasColumns.withPadding .columns-2 {
  width: 48%;
}
.hasColumns.withPadding .columns-3 {
  width: 32%;
}

/* 
 * Base Styles
 */
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

html {
  height: 100%;
  background-color: #4d4d4d;
}

body {
  height: 100%;
  min-width: 600px;
  margin: 0 auto;
}

.container {
  min-height: 100%;
  margin-bottom: -40px;
  padding: 0 4%;
}

.container:after {
  content: "";
  display: block;
}

.foot,
.container:after {
  height: 40px;
}

.foot {
  padding: 10px 0 0;
  margin: 0 auto;
}

/* 
 * Component Styles
 */
/**
 * Links
 *  - Text
 *  - Primary
 *  - Secondary
 * Buttons
 *  - Primary
 *  - Secondary
 *  - Submit
 *  - Call To Action
 */
/* ------------------- *\
  #Link
\* ------------------- */
.link {
  display: inline-block;
  padding-bottom: 2px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  /* Text */
  /* Primary */
  /* Secondary */
}
.link:focus {
  outline: none;
}
.link.text {
  color: #de510c;
}
.link.text:hover, .link.text:focus {
  color: #f25b11;
  text-decoration: underline;
}
.link.primary {
  color: #de510c;
  border-bottom: 1px solid transparent;
}
.link.primary:hover, .link.primary:focus {
  color: #f25b11;
  border-color: #f25b11;
}
.link.secondary {
  color: #909090;
  border-bottom: 1px solid transparent;
}
.link.secondary:hover, .link.secondary:focus {
  color: #dddddd;
  border-color: #dddddd;
}

/* ------------------- *\
  #Button
\* ------------------- */
.button.primary, .button.secondary {
  padding: 10px 22px;
}

.button.primary.small, .button.secondary.small {
  padding: 6px 14px;
  font-size: 0.875rem;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #de510c;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: border-radius 0.3s;
  /* Primary */
  /* Secondary */
  /* Submit */
  /* Call To Action */
}
.button:focus, .button:hover {
  outline: none;
  border-radius: 10px;
}
.button.primary {
  background-color: #de510c;
  color: white;
}
.button.primary:hover, .button.primary:focus {
  background-color: #f25b11;
}
.button.secondary {
  background-color: transparent;
  color: #de510c;
}
.button.secondary:hover, .button.secondary:focus {
  background-color: #de510c;
  color: white;
}
.button.submit {
  padding: 10px 30px;
  background-color: #de510c;
  color: white;
}
.button.submit:hover, .button.submit:focus {
  background-color: #f25b11;
}
.button.cta {
  padding: 16px 48px;
  background-color: #de510c;
  font-size: 1.5rem;
  color: white;
}
.button.cta:hover, .button.cta:focus {
  background-color: #f25b11;
}

/**
 * Form Elements
 * Labels
 * Inputs
 * Buttons
 * Errors
 * Text
 */
/* ------------------- *\
  #Form Elements
\* ------------------- */
form {
  max-width: 660px;
  margin: 0 auto;
}

.formGroup {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dddddd;
}

.formBlock {
  margin-bottom: 30px;
  border: 1px solid #dddddd;
}

/* ------------------- *\
  #Labels
\* ------------------- */
label {
  padding: 6px;
  font-size: 0.875rem;
  color: #909090;
}

/* ------------------- *\
  #Inputs
\* ------------------- */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 0 10px 10px;
  background-color: white;
  border: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
}

.formBlock--checkbox {
  text-align: center;
}
.formBlock--checkbox label {
  color: #909090;
}
.formBlock--checkbox input {
  height: 14px;
  width: 14px;
  margin: 0 6px 0 0;
  padding: 2px;
  background-color: #fff;
}

/* ------------------- *\
  #Buttons
\* ------------------- */
.submit {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  background-color: #de510c;
  border: none;
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: border-radius 0.2s;
}
.submit:focus, .submit:hover {
  outline: none;
  background-color: #f25b11;
  border-radius: 6px;
}

/* ------------------- *\
  #Errors
\* ------------------- */
.errorMessage {
  display: block;
  margin: 0 6px 6px;
  padding: 2px;
  background-color: #f2dede;
  color: #a94442;
}

/* ------------------- *\
  #Text
\* ------------------- */
form .heading {
  padding: 14px 2% 8px;
  border-bottom: 1px solid #dddddd;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
}
form .description {
  padding: 14px 4%;
  border-bottom: 1px solid #dddddd;
  line-height: 1.4;
}
form .helpText {
  margin: -28px 0 30px;
  font-size: 0.75rem;
  color: #cacaca;
  text-align: right;
}

.message {
  position: relative;
  background-color: transparent;
}
.message p {
  padding: 11px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
.message .info,
.message .success,
.message .warning,
.message .danger {
  padding: 0 10px;
  border-left: 4px solid transparent;
}
.message .info {
  background-color: #d9edf7;
  border-color: #3183b9;
  color: #3183b9;
}
.message .success {
  background-color: #dff0d8;
  border-color: #3c763d;
  color: #3c763d;
}
.message .warning {
  background-color: #fcf8e3;
  border-color: #a66d3b;
  color: #a66d3b;
}
.message .danger {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a94442;
}

.messageButton {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -10px;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: inherit;
  line-height: 1;
}
.messageButton:focus {
  outline: none;
}

/* 
 * Element Styles
 */
.authBox, .authBox--bottom {
  width: 90%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.2);
}

.authBox--bottom {
  margin: 30px auto;
  padding: 14px;
  text-align: center;
}

.foot {
  border-top: 1px solid #686868;
}
.foot .mainMenu ul {
  margin: 0;
  text-align: center;
  list-style: none;
}
.foot .mainMenu li {
  display: inline-block;
  margin: 0 8px;
}

/* 
 * Page Styles
 */
.row {
  padding: 30px 0;
  border-bottom: 1px solid #dddddd;
}

.notice {
  padding-left: 10%;
  padding-right: 10%;
}
.notice .text {
  margin-bottom: 20px;
  padding: 16px 0;
  border: 2px solid #de510c;
  text-align: center;
}
.notice .text h2 {
  margin: 0 0 10px;
  color: #4d4d4d;
}
.notice .text p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
  color: #4d4d4d;
  line-height: 1.5;
}
.notice .button {
  display: block;
  text-align: center;
}

.login {
  padding-top: 80px;
}
.login .logo {
  margin: 10px 0 30px;
  padding: 0 10%;
  text-align: center;
}
.login .text h1 {
  padding-bottom: 30px;
  font-size: 4rem;
  color: #de510c;
  text-align: center;
}
.login .text p {
  margin-bottom: 12px;
  line-height: 1.3;
}
.login .text p span {
  display: block;
  padding: 8px 0;
  text-align: center;
}
.login .smallLogo {
  width: 70%;
  max-width: 160px;
  margin: 30px auto 0;
}
