/* 
 * Page.css
 *
 * This CSS file has been created with SASS
 *
 * Don't edit it directly!!!
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

label, input, select, textarea {
  font-size: 16px;
  font-size: 1rem;
  /* 16px */
}

input, select, textarea, label {
  display: block;
  font-family: inherit;
  font-size: 100%;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  display: inline;
  margin: 0 6px;
}

button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button:-moz-focus-inner {
  border: 0;
}

ul, ol {
  margin: 0 0 0 2em;
}

ul {
  list-style-type: square;
}

.hasColumns:before, .content:before, .indexControls .controlsGroup:before, .entry:before, .hasColumns:after, .content:after, .indexControls .controlsGroup:after, .entry:after {
  content: "";
  display: table;
}
.hasColumns:after, .content:after, .indexControls .controlsGroup:after, .entry:after {
  clear: both;
}
.hasColumns, .content, .indexControls .controlsGroup, .entry {
  zoom: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

.hasColumns .columns-2,
.hasColumns .columns-3 {
  float: left;
}
.hasColumns .columns-2 {
  width: 50%;
}
.hasColumns .columns-3 {
  width: 33.2%;
}
.hasColumns.withPadding {
  padding-left: 2%;
  padding-right: 2%;
}
.hasColumns.withPadding .columns-2,
.hasColumns.withPadding .columns-3 {
  float: left;
}
.hasColumns.withPadding .columns-2.first,
.hasColumns.withPadding .columns-3.first {
  margin-right: 2%;
}
.hasColumns.withPadding .columns-2.last,
.hasColumns.withPadding .columns-3.last {
  margin-left: 2%;
}
.hasColumns.withPadding .columns-2 {
  width: 48%;
}
.hasColumns.withPadding .columns-3 {
  width: 32%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #686868;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #909090;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6, p {
  font-size: 1rem;
}

small {
  font-size: 80%;
}

/**
 * Body
 * Z-Index
 */
/* ------------------- *\
  #Body
\* ------------------- */
html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 800px;
  background-color: #fafafa;
}

.container {
  min-height: 100%;
  padding: 20px 80px 40px;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(237, 237, 237, 0.37);
}

/* ------------------- *\
  #Z-Index
\* ------------------- */
.navMenu {
  z-index: 1000;
}

/**
 * Links
 *  - Text
 *  - Primary
 *  - Secondary
 * Buttons
 *  - Primary
 *  - Secondary
 *  - Submit
 *  - Call To Action
 */
/* ------------------- *\
  #Link
\* ------------------- */
.link {
  display: inline-block;
  padding-bottom: 2px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  /* Text */
  /* Primary */
  /* Secondary */
}
.link:focus {
  outline: none;
}
.link.text {
  color: #de510c;
  text-decoration: underline;
}
.link.text:hover, .link.text:focus {
  color: #f25b11;
  text-decoration: none;
}
.link.primary {
  color: #de510c;
  border-bottom: 1px solid transparent;
}
.link.primary:hover, .link.primary:focus {
  color: #f25b11;
  border-color: #f25b11;
}
.link.secondary {
  color: #cacaca;
  border-bottom: 1px solid #dddddd;
}
.link.secondary:hover, .link.secondary:focus {
  color: #de510c;
  border-color: #de510c;
}
.link.secondary.active {
  color: #4d4d4d;
  border-color: #4d4d4d;
}

/* ------------------- *\
  #Button
\* ------------------- */
.button.primary, .button.secondary {
  padding: 10px 22px;
}

.button.primary.small, .button.secondary.small {
  padding: 6px 14px;
  font-size: 0.875rem;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #de510c;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: border-radius 0.3s;
  /* Primary */
  /* Secondary */
  /* Submit */
  /* Call To Action */
}
.button:focus, .button:hover {
  outline: none;
  border-radius: 10px;
}
.button.primary {
  background-color: #de510c;
  color: white;
}
.button.primary:hover, .button.primary:focus {
  background-color: #f25b11;
}
.button.secondary {
  background-color: transparent;
  color: #de510c;
}
.button.secondary:hover, .button.secondary:focus {
  background-color: #de510c;
  color: white;
}
.button.submit {
  padding: 10px 30px;
  background-color: #de510c;
  color: white;
}
.button.submit:hover, .button.submit:focus {
  background-color: #f25b11;
}
.button.cta {
  padding: 16px 48px;
  background-color: #de510c;
  font-size: 1.5rem;
  color: white;
}
.button.cta:hover, .button.cta:focus {
  background-color: #f25b11;
}

.pagination ul {
  margin: 0;
  list-style: none;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
  background-color: white;
  border: 1px solid #dddddd;
  color: #686868;
}
.pagination li.disabled {
  visibility: hidden;
}
.pagination li.active {
  background-color: #686868;
  color: white;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 4px 8px;
  color: inherit;
  text-decoration: none;
}
.pagination li a:hover {
  background-color: #dddddd;
}

/**
 * Form Elements
 * Labels
 * Inputs
 * Buttons
 * Errors
 * Text
 */
/* ------------------- *\
  #Form Elements
\* ------------------- */
form {
  max-width: 660px;
  margin: 0 auto;
}

.formGroup {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dddddd;
}

.formBlock {
  padding: 12px 16px;
}
.formBlock.submit {
  margin-top: 12px;
  padding: 12px 0 0;
  border-top: 1px solid #dddddd;
  text-align: right;
}

/* ------------------- *\
  #Labels
\* ------------------- */
label,
.radioLabel {
  width: 100%;
  padding-bottom: 6px;
  font-weight: 600;
  color: #686868;
}

.radioLabel {
  border-top: 1px solid #dddddd;
}

.formGroup.radio label {
  width: auto;
  margin: 0 6px;
  display: inline-block;
  color: #686868;
  text-align: left;
}

/* ------------------- *\
  #Inputs
\* ------------------- */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 96%;
  margin: 0 auto;
  padding: 6px 8px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #686868;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #909090;
  outline: none;
}

textarea {
  width: 96%;
  margin: 0 auto;
  height: 120px;
  padding: 6px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #686868;
}
textarea:focus {
  border-color: #909090;
  outline: none;
}
textarea.medium {
  height: 260px;
}
textarea.large {
  height: 500px;
}

/* ------------------- *\
  #Buttons
\* ------------------- */
.submit {
  margin-left: 10px;
}

/* ------------------- *\
  #Errors
\* ------------------- */
.errorMessage {
  display: block;
  margin-bottom: 4px;
  padding: 4px;
  background-color: #f2dede;
  font-size: 0.875rem;
  color: #a94442;
}

/* ------------------- *\
  #Text
\* ------------------- */
form .heading {
  padding: 14px 2% 8px;
  border-bottom: 1px solid #dddddd;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
}
form .description {
  padding: 14px 4%;
  border-bottom: 1px solid #dddddd;
  line-height: 1.4;
}
form .helpText {
  margin-top: 4px;
  padding-right: 2%;
  font-size: 0.75rem;
  color: #909090;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon p {
  display: none;
}
.icon.settings {
  background-image: url("../img/icons/settings.png");
}
.icon.settings:hover {
  background-image: url("../img/icons/settings-hover.png");
}
.icon.write {
  background-image: url("../img/icons/write.png");
}
.icon.write:hover {
  background-image: url("../img/icons/write-hover.png");
}
.icon.trash {
  background-image: url("../img/icons/trash.png");
}
.icon.trash:hover {
  background-image: url("../img/icons/trash-hover.png");
}
.icon.restore {
  background-image: url("../img/icons/restore.png");
}
.icon.restore:hover {
  background-image: url("../img/icons/restore-hover.png");
}
.icon.destroy {
  background-image: url("../img/icons/destroy.png");
}
.icon.destroy:hover {
  background-image: url("../img/icons/destroy-hover.png");
}

.message {
  position: relative;
  background-color: transparent;
}
.message p {
  padding: 11px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
.message .info,
.message .success,
.message .warning,
.message .danger {
  padding: 0 10px;
  border-left: 4px solid transparent;
}
.message .info {
  background-color: #d9edf7;
  border-color: #3183b9;
  color: #3183b9;
}
.message .success {
  background-color: #dff0d8;
  border-color: #3c763d;
  color: #3c763d;
}
.message .warning {
  background-color: #fcf8e3;
  border-color: #a66d3b;
  color: #a66d3b;
}
.message .danger {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a94442;
}

.messageButton {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -10px;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: inherit;
  line-height: 1;
}
.messageButton:focus {
  outline: none;
}

.pageHeader {
  position: relative;
  margin-bottom: 10px;
}

.pageTitle {
  padding: 14px 0 10px;
  border-bottom: 1px solid #dddddd;
  font-size: 40px;
  font-family: "PT Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.pageButtons {
  position: absolute;
  top: 16px;
  right: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.pageButtons li {
  display: inline-block;
  margin-left: 8px;
}

.pageInfo {
  padding-top: 6px;
}
.pageInfo p {
  font-size: 0.875rem;
  color: #cacaca;
  text-align: right;
}

/* ------------------- *\
  #Section Menu
\* ------------------- */
.sectionMenu {
  margin-bottom: 20px;
}
.sectionMenu .menu {
  margin: 0;
  border-bottom: 2px solid #cacaca;
  list-style: none;
}
.sectionMenu .bottom {
  height: 24px;
  padding: 6px 0 2px;
  text-align: right;
  overflow: hidden;
}
.sectionMenu .bottom p {
  padding: 0;
  font-size: 0.875rem;
  color: #cacaca;
}

.sectionLink {
  display: inline-block;
  margin: 0 6px -6px 0;
  padding: 8px 10px;
  border-bottom: 4px solid transparent;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #909090;
  cursor: pointer;
}
.sectionLink:hover, .sectionLink:focus, .sectionLink.active {
  outline: none;
  border-color: #cacaca;
  color: #4d4d4d;
}

.navMenu {
  position: fixed;
  top: -39px;
  left: 0;
  right: 0;
  height: 50px;
  padding: 11px 0;
  background-color: #de510c;
  transition: top 0.2s linear;
}
.navMenu:hover {
  top: 0;
}
.navMenu ul {
  float: left;
  margin: 0;
  padding: 0 6px;
  list-style: none;
}
.navMenu ul.account {
  border: 1px solid #fafafa;
  border-top: none;
  border-bottom: none;
}
.navMenu ul.logout {
  float: right;
}
.navMenu li {
  display: inline-block;
  margin: 0 6px;
}
.navMenu li a {
  display: block;
  padding: 6px 8px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.navMenu li a:hover, .navMenu li a:focus, .navMenu li a.active {
  background-color: #fafafa;
  color: #de510c;
}

.navLogo {
  float: left;
  margin: 0 10px;
  background-color: #fafafa;
}
.navLogo img {
  display: block;
  height: 28px;
}

.navButton {
  display: block;
  position: absolute;
  top: 45px;
  right: 0;
  padding: 4px 6px;
  background-color: #de510c;
  border: none;
  font-size: 14px;
  color: white;
  line-height: 1;
}

.adminBar {
  position: fixed;
  bottom: -27px;
  left: 0;
  right: 0;
  height: 34px;
  background-color: #de510c;
}
.adminBar:hover {
  bottom: 0;
}
.adminBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.adminBar .adminMenu {
  text-align: right;
}
.adminBar .adminMenu li {
  display: inline-block;
  padding: 0;
}
.adminBar .adminMenu li a {
  display: block;
  padding: 10px 10px;
  line-height: 1;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.adminBar .adminMenu li a:hover, .adminBar .adminMenu li a.active {
  color: white;
}

.emptyMessage {
  padding: 40px 0;
}
.emptyMessage .title {
  text-align: center;
}

/* ------------------- *\
  #Index Controls
\* ------------------- */
.indexControls {
  margin: 10px 0;
}
.indexControls .controlsGroup {
  padding: 6px;
  border: 1px solid #dddddd;
}
.indexControls .types {
  margin: 0 0 10px;
  list-style: none;
}
.indexControls .types li {
  display: inline-block;
  margin-right: 4px;
  padding-right: 6px;
  border-right: 1px solid #dddddd;
  font-size: 0.875rem;
  color: #cacaca;
}
.indexControls .filters {
  float: left;
  margin: 0;
  list-style: none;
}
.indexControls .filters li {
  display: inline-block;
  margin-right: 6px;
}
.indexControls .filters li button {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #dddddd;
  color: #686868;
}
.indexControls .filters li button:hover, .indexControls .filters li button:focus {
  background-color: #dddddd;
  outline: none;
}
.indexControls .filters li button.active {
  background-color: #4d4d4d;
  color: white;
}
.indexControls .pages {
  float: right;
}

/* ------------------- *\
  #Journal Setup
\* ------------------- */
.entry {
  position: relative;
  margin-bottom: 16px;
  border: 1px solid #dddddd;
}
.entry:hover {
  background-color: #eeeeee;
}
.entry:hover .entryButtons {
  display: block;
}

.entryDate {
  float: left;
  padding: 10px 16px;
  background-color: #909090;
}
.entryDate p {
  color: white;
  text-align: center;
}
.entryDate p.month {
  font-size: 14px;
  text-transform: uppercase;
}
.entryDate p.day {
  font-size: 28px;
}

.entryTitle {
  float: left;
  padding: 17px 6px;
}

.entryButtons {
  display: none;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -13px;
}
.entryButtons .button {
  margin-left: 8px;
}

/* ------------------- *\
  #Show Links
\* ------------------- */
.show .mainColumn {
  float: right;
  width: 77%;
  padding-left: 20px;
  border-left: 1px solid #dddddd;
}
.show .secondaryColumn {
  float: left;
  width: 20%;
  margin-right: 3%;
}
.show .secondaryBox {
  margin-bottom: 40px;
}
.show .secondaryBox .title {
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #dddddd;
}
.show .secondaryBox .text,
.show .secondaryBox .list {
  min-height: 140px;
  border-bottom: 1px solid #dddddd;
}
.show .secondaryBox .text {
  line-height: 1.3;
}
.show .secondaryBox .list {
  margin: 0;
  list-style: square;
  list-style-position: inside;
}
.show .secondaryBox .list li {
  margin-bottom: 8px;
  color: #dddddd;
}
.show .secondaryBox .list li .link {
  color: #909090;
}
.show .secondaryBox .list li .link:hover {
  color: #de510c;
}
.show .secondaryBox .links {
  margin-top: 4px;
  font-size: 0.875rem;
  text-align: right;
}

/* ------------------- *\
  #Show Links
\* ------------------- */
.showLinks {
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}

.showPrev,
.showNext {
  position: absolute;
  top: 50%;
  margin-top: -9px;
}

.showPrev {
  left: 10px;
}

.showNext {
  right: 10px;
}

.showButtons {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}
.showButtons li {
  display: inline-block;
  margin: 0 4px;
}

/* ------------------- *\
  #Record Elements
\* ------------------- */
.recordBody {
  min-height: 400px;
  max-width: 660px;
  margin: 0 auto;
}

/* ------------------- *\
  #Profile
\* ------------------- */
.profile .content {
  width: 100%;
}
.profile section {
  margin-bottom: 30px;
}
.profile .mainColumn {
  float: left;
  width: 58%;
  margin-right: 2%;
}
.profile .mainColumn form .heading {
  text-align: left;
}
.profile .secondaryColumn {
  float: right;
  width: 36%;
  margin-left: 4%;
}
.profile .secondaryColumn form .heading {
  text-align: right;
}
