// Index Controls
.indexControls {
  @extend %clearfix;
  margin: 6px 0;
  padding: 4px 5% 4px 0;
  border: 1px solid $greyLight;
  border-left: none;
  border-right: none;

  .pages {
    float: right;
  }
}


// Index List

.indexList {
  margin: 0;
  list-style: none;
}

.indexItem {
  display: inline-block;
}


// Index Table

.indexTable {
  width: 95%;

  tr:nth-child(odd) {
    background-color: $greyLightest;
  }
}

.indexRow {
  
  td {
    padding: 10px;
  }
}

// Index Empty

.index .emptyMessage {
  padding: 20px 0;

  .title {
    text-align: center;
  }
}