.profile-section {
	margin-bottom: 40px;
	padding: 20px;
	border: 1px solid $c_profileSectionBorder;
}

.profile-section__heading {
	margin-bottom: 20px;
}

.profile-section__description {
	@extend %paragraph;
	@include font-size(0.9);
}