//Colors
$orangeLight    : lighten(#DE510C, 5%);
$orange         : #DE510C;
$orangeDark     : darken(#DE510C, 5%);



$redLight       : #F2DEDE;
$redDark        : #A94442;

$yellowLight    : #FCF8E3;
$yellowDark     : #A66D3B;

$greenLight     : #DFF0D8;
$greenDark      : #3C763D;

$blueLight      : #D9EDF7;
$blueDark       : #3183B9;



$white          : #FFFFFF;
$offWhite       : #FAFAFA;
$shadow         : rgba(237, 237, 237, 0.37);

$greyLightest   : #EEEEEE;
$greyLight      : #DDDDDD;
$greyMedLight   : #CACACA;
$grey           : #909090;
$greyMedDark    : #686868;
$greyDark       : #4D4D4D;

$blackLight     : #31312E;
$black          : #191816;