// Fonts
$f_size: 16px;
$f_sans: "Open Sans", Arial, Helvetica, sans-serif;
$f_serif: "PT Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

// Heights

// Widths
$w_maxColumn: 660px;
$w_maxPage: 1200px;

// Padding

// Speed

// Misc