/**
 * Links
 *  - Text
 *  - Primary
 *  - Secondary
 * Buttons
 *  - Primary
 *  - Secondary
 *  - Submit
 *  - Call To Action
 */



/* ------------------- *\
  #Link
\* ------------------- */

.link {
  display: inline-block;
  padding-bottom: 2px;
  background-color: transparent;
  border: none;
  text-decoration: none;

  &:focus {
    outline: none;    
  }

  /* Text */
  &.text {
    color: $orange;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $orangeLight;
      text-decoration: none;
    }
  }
  
  /* Primary */
  &.primary {
    color: $orange;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      color: $orangeLight;
      border-color: $orangeLight;
    }
  }

  /* Secondary */
  &.secondary {
    color: $greyMedLight;
    border-bottom: 1px solid $greyLight;

    &.active {
      color: $greyDark;
      border-color: $greyDark;
    }

    &:hover,
    &:focus {
      color: $orange;
      border-color: $orange;
    }
  }
}



/* ------------------- *\
  #Button
\* ------------------- */

// Common
%button {
  padding: 10px 22px;
}
%buttonSmall {
  padding: 6px 14px;
  font-size: 0.875rem;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: border-radius 0.3s;

  &:focus,
  &:hover {
    outline: none;
    border-radius: 10px;
  }

  /* Primary */
  &.primary {
    @extend %button;
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;

    &:hover,
    &:focus {
      background-color: $orangeLight;
      border-color: $orangeLight;
    }

    &.small {
      @extend %buttonSmall;
    }
  }

  /* Secondary */
  &.secondary {
    @extend %button;
    background-color: transparent;
    border: 1px solid $greyLight;
    color: $greyMedLight;

    &:hover,
    &:focus {
      background-color: $greyLight;
      color: $grey;
    }

    &.small {
      @extend %buttonSmall;
    }
  }

  /* Submit */
  &.submit {
    padding: 10px 30px;
    background-color: $orange;
    color: $white;

    &:hover,
    &:focus {
      background-color: $orangeLight;
    }
  }

  /* Call To Action */
  &.cta {
    padding: 16px 48px;
    background-color: $orange;
    font-size: 1.5rem;
    color: $white;

    &:hover,
    &:focus {
      background-color: $orangeLight;
    }
  }
}