.message {
  position: relative;
  background-color: transparent;
  p {
    padding: 11px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
  }
  .info,
  .success,
  .warning,
  .danger {
    padding: 0 10px;
    border-left: 4px solid transparent;
  }
  .info {
    background-color: $blueLight;
    border-color: $blueDark;
    color: $blueDark;
  }
  .success {
    background-color: $greenLight;
    border-color: $greenDark;
    color: $greenDark;
  }
  .warning {
    background-color: $yellowLight;
    border-color: $yellowDark;
    color: $yellowDark;
  }
  .danger {
    background-color: $redLight;
    border-color: $redDark;
    color: $redDark;
  }
}

.messageButton {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -10px;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: inherit;
  line-height: 1;

  &:focus {
    outline: none;
  }
}