/* ------------------- *\
  #Profile
\* ------------------- */

.profile {

  .content {
    width: 100%;
  }

  section {
    margin-bottom: 30px;
  }

  .mainColumn {
    float: left;
    width: 58%;
    margin-right: 2%;

    form .heading {
      text-align: left;
    }
  }

  .secondaryColumn {
    float: right;
    width: 36%;
    margin-left: 4%;

    form .heading {
      text-align: right;
    }
  }
}