html {
  height: 100%;
  background-color: $greyDark;
}
body {
  height: 100%;
  width: 90%;
  min-width: 800px;
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  min-height: 100%;
  margin-bottom: - $h_footer; // equal to footer height
  padding: 0 4%;
  background-color: $white;
  box-shadow: 0 0 20px 5px $blackLight;
}
.container:after {
  content: "";
  display: block;
}
.foot,
.container:after {
  height: $h_footer; 
  padding: 30px;
}