.editable {
	min-height: 200px;
	margin-bottom: 20px;
	padding: 0 10px;

	&:focus {
		outline: none;
		border: 1px solid $c_editableBorder;
		border-top: none;
		border-bottom: none;
	}

	h3, h4, p {
		margin-bottom: 12px;
	}

	p {
		line-height: 1.4;
	}
}