.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal {
	position: fixed;
	top: 155px;
	left: 50%;
	z-index: 999999;
  width: 400px;
  margin-left: -200px;
  padding: 20px 20px 0;
  background-color: $greyDarker;
  color: $white;
}

.modal--register {
	@extend .modal;
	width: 500px;
	margin-left: -250px;
}

.modal__title {
	margin-bottom: 20px;
	color: $white;
	line-height: 1.3;
	text-align: center;
}
.modal__text {
	margin-bottom: 12px;
	@include font-size(1.125);
	line-height: 1.4;
	text-align: center;
}
.modal__note {
	margin: 30px 0 20px;
	@include font-size(1);
	text-align: center;

	a:link,
	a:visited {
		color: $white;
		text-decoration: underline;
	}
	a:hover,
	a:active {
		color: $orange;
	}
}

.modal__form {
	width: 80%;
	margin: 40px auto 0;
}

.modal__button {
	margin-top: 40px;
}
.modal__button {
	@extend %button-reset;
	width: 100%;
	margin: 20px 0;
	padding: 12px 8px;
	background-color: $greyDark;
	@include font-size(1.125);
	color: $white;

	&:hover {
		background-color: $orange;
	}

}
.modal__button--primary {
	@extend .modal__button;
}
.modal__button--secondary {
	@extend .modal__button;
}
.modal__button--register {
	@extend .modal__button;
	background-color: $orange;
	padding: 8px;
	line-height: 1.5;
	transition: all 0.5s;

	&:hover {
		background-color: $orangeLight;
		border-radius: 14px;
	}
}