.header {
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
  img {
    height: 40px;
  }
}
.headerMenu {
  padding-left: 240px;
  ul {
    margin: 0;
    list-style: none;
    text-align: right;
  }
  li {
    display: inline-block;
    padding: 10px;
    a {

    }
  }
}