.showNovel {
  max-width: 780px;
  margin: 0 auto;
  .novel_title {
    text-align: center;
  }
  .section_title {
    text-align: right;
  }
  .section_description {

  }
  .section_body {
    margin: 30px 0;
    hr {
      height: 0;
      width: 40%;
      margin: 30px auto 0;
      border: none;
      border-top: 1px solid $greyLight;
    }
  }
}