.link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  &.text {
    color: $orange;
    text-decoration: underline;
    &:hover {
      color: $orangeLight;
      text-decoration: none;
    }
  }
  &.primary {
    color: $orange;
    &:hover {
      color: $orangeLight;
      border-bottom: 1px solid $orangeLight;
    }
  }
  &.secondary {
    color: $grey;
    &:hover {
      color: $greyDark;
      border-bottom: 1px solid $greyDark;
    }
  }
}
.button {
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  &.primary,
  &.secondary {
    padding: 10px 22px;
    border-radius: 4px;
  }
  &.primary {
    background-color: $orange;
    color: $white;
    &:hover {
      background-color: $orangeLight;
    }
  }
  &.secondary {
    background-color: $greyDark;
    color: $white;
    &:hover {
      background-color: $greyMedDark;
    }
  }
  &.cta {
    padding: 16px 48px;
    background-color: $orange;
    border-radius: 4px;
    font-size: 24px;
    color: $white;
    &:hover {
      background-color: $orangeLight;
    }
  }
}