.alert {
  margin: 10px 0;
  padding: 6px 40px 6px 10px;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  border-left: 6px solid #eee;
  li, p {
    padding: 6px 0;
    font-size: 0.875rem;
    color: $orange;
  }
  &.message {
    border-left-color: $orange;
  }
  &.success {
    border-left-color: darkblue;
  }
  &.error {
    border-left-color: darkred;
  }
}