.contact {
  .hero {
    max-width: 660px;
    margin: 0 auto;

    h1 {
      text-align: center;
    }

    p {
      max-width: 480px;
      margin: 20px auto 0;
      line-height: 1.4;
      text-align: center;
    }
  }

  form {
    margin-bottom: 60px;
  }
}