.login {
  background-color: $offWhite;

  .logo {
    margin: 10px 0;
    padding: 0 10%;
    text-align: center;    
  }

  .messages {
    margin-bottom: 10px;
  }

  a {
    padding: 0 4px;
    color: $orange;
    text-decoration: none;

    &:hover {
      color: $orangeLight;
      text-decoration: underline;
    }
  }

  .text {
    h1 {
      padding-bottom: 30px;
      font-size: 4rem;
      color: $orange;
      text-align: center;
    }
    p {
      margin-bottom: 12px;
      line-height: 1.3;

      span {
        display: block;
        padding: 8px 0;
        text-align: center;
      }
    }
  }

  .smallLogo {
    width: 70%;
    max-width: 160px;
    margin: 30px auto 0;
  }

  .authBox {
    width: 90%;
    max-width: 420px;
    margin: 90px auto 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.2);
  }

  .authBox--bottom {
    @extend .authBox;
    margin: 40px auto;
    text-align: center;
  }

  .formBlock {
    margin-bottom: 30px;
    border: 1px solid $greyLight;

    label {
      padding: 6px;
      font-size: 0.875rem;
      color: $grey;
    }

    .errorMessage {
      display: block;
      margin: 0 6px 6px;
      padding: 2px;
      background-color: $redLight;
      color: $redDark;
    }

    input {
      width: 100%;
      padding: 0 10px 10px;
      border: none;

      &:focus {
        outline: none;
      }
    }

  }

  .helpText {
    margin: -28px 0 30px;
    font-size: 0.75rem;
    color: $greyMedLight;
    text-align: right;
  }

  .submit {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: $orange;
    border: none;
    font-size: 24px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    transition: border-radius 0.2s;

    &:focus,
    &:hover {
      outline: none;
      background-color: $orangeLight;
      border-radius: 6px;
    }
  }

  .formBlock--checkbox {
    text-align: center;

    label {
      color: $grey;
    }

    input {
      height: 14px;
      width: 14px;
      margin: 0 6px 0 0;
      padding: 2px;
      background-color: #fff;
    }
  }

  .foot {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    padding: 10px 0 30px;
    border-top: 1px solid $greyLight;
  }
  .mainMenu {
    ul {
      margin: 0;
      text-align: center;
      list-style: none; 
    }

    li {
      display: inline-block;

      a {
        font-size: 0.875rem;
        color: $greyMedLight;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}