//Colors
$orangeLight    : #E26922;
$orange         : #E25822;
$orangeDark     : #E24722;



$redLight       : #F2DEDE;
$redDark        : #CD0000;

$yellowLight    : #FCF8E3;
$yellowDark     : #EEB422;

$greenLight     : #DFF0D8;
$greenDark      : #006400;

$blueLight      : #D9EDF7;
$blueDark       : #104E8B;



$white          : #FFFFFF;
$offWhite       : #F5F5F5;
$shadow         : rgba(237, 237, 237, 0.37);

$greyLightest   : #EEEEEE;
$greyLighter    : #DDDDDD;
$greyLight      : #CACACA;

$grey           : #ABABAB;

$greyDark       : #909090;
$greyDarker     : #686868;
$greyDarkest    : #4D4D4D;

$blackLight     : #31312E;
$black          : #191816;