// Fonts
$f-sans: "Open Sans", Arial, Helvetica, sans-serif;
$f-serif: "PT Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$f-normal: 400;
$f-medium: 600;
$f-bold: 700;

// Heights
$h_navBar: 50px;
$h_adminBar: 34px;
$h_pageTitle: 70px;

// Widths
$w_maxContent: 1200px;
$w_maxColumn: 660px;
$w_navButton: 50px;
$w_notebookSidebar-right: 200px;
$w_notebookSidebar-left: 240px;

// Square (Width = Height)
$s_mediumEditorButton: 50px;

// Padding

// Speed
$t_default: 0.4s;
$t_slow: 0.8s;

// Misc