.write-scene__wrapper {
  @include container;
	position: relative;
	margin-top: 20px;
	padding-left: 270px;
}

.write-scene {
	@include main-box;
	position: relative;
	padding: 10px 20px 57px;

	.form-button,
	.form-button--secondary {
		margin-top: 0;
	}
}
.write-scene__label {
	cursor: pointer;
}

// Details
.write-scene__details {
	@include clearfix;
	margin-bottom: 20px;
}

// Title
.write-scene__title {
	padding: 3px 10px 0;
	border: none;
	border-bottom: 1px solid $c_novelWriteFormBorder;
	@include font-size(1.5);
}

// Description
.write-scene__description {
	padding: 6px;
	border: 1px solid $c_novelWriteFormBorder;
	border-top: none;
	@include font-size(0.875);
	line-height: 1.4;
	resize: none;
}

.write-scene__description-button {
	@extend %button-reset;
	float: right;
	padding: 2px 6px;
	border: 1px solid $c_novelWriteFormBorder;
	border-top: none;
	color: $c_lightText;

	&:hover {
		color: $c_highlightText;
	}
}




.write-scene__toolbar__wrapper {
	position: fixed;
	bottom: 0;
	width: 930px;
	margin-left: -20px;
	padding: 0 10px;
	transition: padding 0.5s;
}

.write-scene__toolbar {
	@include clearfix;
	padding: 8px;
	background-color: white;
	border-top: 1px solid $grey;
}

// Breadcrumb
.write-scene__breadcrumbs {
	margin-bottom: 10px;
	@include font-size(0.75);
	color: $c_lightText;
}

// Delete Button
.write-scene__delete-button {
	float: left;
	padding: 6px;
	border: 1px solid $grey;
	@include link-colors($grey, $white);
	line-height: 1;

	&:hover {
		background-color: $orange;
	}
}

// Word Count
.write-scene__word-count {
	float: right;
	padding: 7px 10px;
}

// Save Button
.write-scene__save-button {
	@extend %button-reset;
	float: right;
	width: 80px;
	border: 1px solid $orange;
	color: $orange;
	line-height: 1;

	&:hover {
		background-color: $orange;
		color: $white;
	}
}