.adminBar {
  position: fixed;
  bottom: -($h_adminBar - 7px);
  left: 0;
  right: 0;
  height: $h_adminBar;
  background-color: $orange;
  &:hover {
    bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .adminMenu {
    text-align: center;
    li {
      display: inline-block;
      padding: 0;
      a {
        display: block;
        padding: (($h_adminBar - 14px)/2) 10px;
        line-height: 1;
        font-size: 14px;
        color: $white;
        text-decoration: none;
        &:hover,
        &.active {
          color: $white;
        }
      }
    }
  }
}