.filters {

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    padding: 2px;
    border-bottom: 1px solid $greyLightest;
    color: $greyLight;
  }

  .link {
    padding: 4px;
    font-size: 0.875rem;
    border-bottom: none;
  }
}