.head {
  @extend %clearfix;
  padding: 6px 0 30px;

  .logo {
    float: left;
    margin-left: 6px;

    img {
      display: block;
      height: 28px;
    }
  }
}

.navMenu {
  @extend %clearfix;

  ul {
    float: left;
    margin: 0;
    padding: 0 6px;
    list-style: none;
    
    &.account {
      border-right: 1px solid $greyLight;
    }
    &.logout {
      float: right;
    }
  }

  li {
    display: inline-block;
    margin: 0 6px;
    a {
      display: block;
      padding:  6px 8px;
      font-size: 14px;
      color: $greyMedLight;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $orange;
      }
      &.active {
        color: $greyDark;
      }
    }
  }
}