.indexItem.notebook {
  @extend %clearfix;
  position: relative;
  min-height: 180px;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 160px;
  background-color: $greyLightest;

  .name {
    padding: 6px 10px;
    background-color: $greyLight;
    font-size: 1.75rem;
    line-height: 1;
  }
  
  .novels {
    float: left;
    min-height: 140px;
    width: 40%;
    margin: 0;
    padding: 8px 20px;
    border-right: 1px solid $greyLight;
    list-style: none;

    li {
      padding: 4px;
      font-size: 1.125rem;

      &.newNovel {
        font-size: 0.875rem;
        text-align: right;
      }

      a {
        color: $greyMedDark;
        text-decoration: none;
      }
    }
  }

  .description {
    float: right;
    width: 60%;
    padding: 16px;
  }

  .counts {
    @extend %clearfix;
    clear: both;
    margin: 20px 0 0;
    border-top: 1px solid $greyLight;
    list-style: none;

    li {
      float: left;
      width: 25%;
      padding: 8px 0;
      border-right: 1px solid $greyLight;
      text-align: center;

      &:last-child {
        border: none;
      }
    }
  }

  .buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 160px;
    padding: 20px 6px;
    border-left: 1px solid $greyLight;
    text-align: center;

    .secondary {
      .button {
        width: 92%;
        margin: 0 1%;
        margin-bottom: 6px;
      }
    }

    .primary {
      .button {
        width: 92%;
        margin: 0 1%;
      }
    }
  }
}